# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore .env file
.env
.env.db
.env.cels.db
.env.googleapikey

# Ignore local deployment script
deploy

# Ignore VS Code settings file
.vscode

# Ignore virtual environment
.venv

# Ignore sensitive files
Modelo_Memoria_RITE.pdf
Certificado_final_MGE.pdf