# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore .env file
.env
.env.db
.env.googleapikey

# Ignore local deployment script
deploy

# Ignore sensitive files
Modelo_Memoria_RITE.pdf
Certificado_final_MGE.pdf